@charset "UTF-8";
@import url(normalize.css);
@import "https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Oswald:700";
@import url(nprogress.css);
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

html {
  font-size: 62.5%; }

body {
  background-color: #000;
  color: #fff;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden; }

div:after, ol:after, li:after, form:after, ul:after,
dl:after, header:after, footer:after, section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.transition, a, .single.work #header .item-works:hover .icn-arrow-left, #extra-content article {
  transition: all 200ms ease-in-out; }

.transition-slowly, section, #header, #works figure img, h1, .headline, .excerpt, .dropline {
  transition: all 600ms ease-in-out; }

.gall .slick-slide {
  margin-right: 20px;
  outline: none !important; }

.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move; }

.slick-active:focus {
  outline: none !important; }

hr {
  clear: both;
  border: 0; }

a {
  border-bottom: 1px dotted #4D4D4D;
  font-style: italic;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    border-bottom-style: none;
    color: #ccc; }

.container {
  margin: auto;
  position: relative;
  width: 978px; }

section, #header {
  opacity: 0; }

.loaded section, .loaded #header {
  opacity: 1; }

.link-brand, .link-brand:hover, .link-brand:active {
  border: 0;
  text-decoration: none; }

.bg-yellow {
  background-color: #fcb937;
  border-radius: 4px; }

.bg-green {
  background-color: #076469;
  border-radius: 4px; }

.bg-white {
  background-color: #fff;
  border-radius: 4px; }

.bg-greenblue {
  background-color: #26b4a9;
  border-radius: 4px; }

h1 small {
  font: italic 1.3rem 'Playfair Display', serif;
  font-weight: normal;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 20px;
  opacity: .45;
  position: relative;
  top: -2px;
  letter-spacing: 1px; }
  h1 small a {
    color: #19c4aa;
    border-bottom: 1px solid #19c4aa; }
    h1 small a:hover {
      opacity: .7;
      border-bottom: 1px solid #19c4aa;
      color: #19c4aa; }

#header {
  position: fixed;
  top: 50px;
  left: 80px;
  right: 0;
  z-index: 9;
  width: 90%; }

.brand {
  display: inline-block;
  background: url("../img/logo-cf.png") no-repeat center center;
  width: 67px;
  height: 67px;
  background-size: 67px; }
  .brand span {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }
  .brand img {
    width: 100%; }

#intro {
  margin: 200px 0 0 80px;
  font-family: 'Playfair Display', serif; }
  #intro .container {
    font-size: 5.8rem;
    line-height: 7.2rem;
    margin: 0;
    width: 880px; }
  #intro footer {
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: 610px; }
    #intro footer a {
      color: #fff; }
  #intro .link-readbio {
    border-bottom: 1px solid #19c4aa;
    color: #19c4aa;
    font-size: 1.4rem;
    margin-left: 6px;
    position: relative;
    text-transform: lowercase;
    top: -5px; }
    #intro .link-readbio:hover {
      opacity: .7; }

.social-list {
  margin: 15px 0 0 0;
  padding: 0; }
  .social-list li {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    margin-right: 20px;
    float: left; }
    .social-list li:last-child {
      margin-right: 0; }
    .social-list li a {
      background-repeat: no-repeat;
      background-position: bottom center;
      border: 0;
      display: block;
      height: 40px;
      width: 50px; }
      .social-list li a:hover {
        opacity: 0.7; }
    .social-list li.menu-linkedin a {
      background-image: url(../img/logo-linkedin.svg); }
    .social-list li.menu-behance a {
      background-image: url(../img/logo-behance.svg); }
    .social-list li.menu-dribbble a {
      background-image: url(../img/logo-dribbble.svg); }
    .social-list li.menu-github a {
      background-image: url(../img/logo-github.svg); }
    .social-list li.menu-medium a {
      background-image: url(../img/logo-medium.svg); }

.dropline {
  margin: 0 0 80px 0; }
  .dropline .txt-mail {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #4D4D4D;
    margin-right: 30px; }
    .dropline .txt-mail .hide-email {
      display: block; }
    .dropline .txt-mail a {
      color: #A5A5A5; }

#works article {
  margin-bottom: 180px;
  position: relative; }
  #works article:hover figure img {
    transform: scale(1.007);
    opacity: .9; }
#works header {
  width: 100%;
  position: absolute;
  left: -50px;
  right: 0;
  top: 25%;
  z-index: 2; }
  #works header .title-main {
    font: bold 8rem Oswald, sans-serif;
    letter-spacing: 10px;
    color: #fff;
    margin: 0;
    text-transform: uppercase; }
  #works header small {
    color: #808080;
    text-transform: uppercase;
    font: italic 1.2rem Lato, sans-serif;
    margin-top: -15px;
    display: block; }
#works figure {
  background-color: #000;
  margin: 0;
  float: right;
  width: 760px;
  height: 400px;
  position: relative;
  z-index: 1; }
  #works figure img {
    opacity: .77;
    width: 100%; }
#works article:nth-child(even) header {
  right: -50px;
  left: 0; }
#works article:nth-child(even) figure {
  float: left; }
#works article:nth-child(even) .title-main, #works article:nth-child(even) small {
  text-align: right; }

#hello {
  padding-top: 30px; }
  #hello h3 {
    color: #f9ec18;
    font: italic 6rem 'Playfair Display', serif;
    margin-bottom: 30px;
    text-align: center; }

.post p, .post li {
  font: 2.2rem/3.2rem 'Playfair Display', serif;
  color: #fff; }
  .post p a, .post li a {
    font-style: normal;
    border-bottom: 1px solid #19c4aa;
    color: #19c4aa; }
    .post p a:hover, .post li a:hover {
      opacity: .7; }

.home .item-works {
  visibility: hidden;
  display: none;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.single {
  padding-top: 200px; }
  .single article {
    margin-top: 5%;
    padding-top: 5%;
    position: relative; }
    .single article::after {
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: 2%;
      left: 64%;
      width: 15px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.35);
      margin-left: -15%; }
    .single article.no-sep::after {
      display: none; }
  .single.work #header .item-works {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    float: right;
    margin-top: 40px;
    padding-left: 30px;
    background: transparent url("../img/icn-arrow-left.svg") no-repeat scroll left -7px/25px auto;
    border: 0; }
    .single.work #header .item-works:hover .icn-arrow-left {
      transform: translateX(-3px); }
  .single.work #header h1 {
    float: left; }
  .single.work .cover-work img {
    width: 100%; }
  .single.work h2, .single.work h3 {
    font: italic 3.2rem/3.4rem 'Playfair Display', serif;
    font-weight: bold;
    display: inline-block;
    position: relative; }
  .single.work h2::after, .single.work h3::after {
    background-color: #19c4aa;
    position: absolute;
    content: " ";
    display: block;
    height: 50%;
    width: 70%;
    left: -7%;
    bottom: -5px;
    z-index: -1; }
  .single.work .title-main {
    font: italic 5.2rem/5.4rem 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: -10%; }
  .single.work .entry-content {
    margin: 60px 0; }
  .single.work .gallery img {
    width: 100%; }
  .single.work .gallery iframe {
    margin: 30px auto auto 25%; }
  .single.work h3 {
    font: italic 3.2rem/4.4rem 'Playfair Display', serif; }

.grid-center ul, .grid-left ul, .grid-right ul {
  padding: 0; }
.grid-center p, .grid-center li, .grid-left p, .grid-left li, .grid-right p, .grid-right li {
  font-size: 1.5rem;
  list-style: none;
  line-height: 2.3rem; }
.grid-center li, .grid-left li, .grid-right li {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.55); }
.grid-center .high, .grid-left .high, .grid-right .high {
  position: relative;
  display: block;
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: italic;
  color: #fff; }
  .grid-center .high::after, .grid-left .high::after, .grid-right .high::after {
    background-color: #19c4aa;
    position: absolute;
    content: " ";
    display: block;
    height: 50%;
    width: 7%;
    left: -2%;
    bottom: 0px;
    z-index: -1; }

.grid-center {
  text-align: center;
  width: 70%;
  margin: auto; }

.grid-left {
  text-align: left;
  float: left;
  width: 30%;
  margin-left: 5%; }

.grid-right {
  text-align: left;
  float: right;
  width: 55%;
  margin-right: 0; }

.more-works {
  margin-bottom: 30px !important;
  text-align: center;
  font: italic 1.2rem 'Playfair Display', serif; }

.icn-sketch {
  width: 18px !important;
  height: 22px; }

.icn-arrow-left {
  position: relative;
  top: 10px; }

#extra-content {
  margin: 100px 0 0 0;
  font: 1.4rem 'Playfair Display', serif;
  line-height: 2rem; }
  #extra-content article {
    float: left;
    width: 20.333%;
    padding: 0 2%; }
    #extra-content article.mouse_over {
      opacity: 1; }
    #extra-content article.out {
      opacity: .45; }
    #extra-content article header {
      font-size: 2rem;
      font-style: italic; }
      #extra-content article header small {
        font-size: 1.2rem;
        font-weight: normal; }
    #extra-content article ul {
      padding: 0; }
    #extra-content article li {
      list-style: none;
      border-bottom: 1px solid rgba(210, 208, 208, 0.15); }
      #extra-content article li:last-child {
        border-bottom: 0; }
      #extra-content article li:hover {
        border-color: #19c4aa; }
    #extra-content article a {
      font-style: normal;
      color: #fff;
      border-bottom: 0;
      text-decoration: none;
      display: block;
      padding: 20px 0; }
      #extra-content article a s {
        opacity: .7; }
      #extra-content article a:hover {
        color: #19c4aa; }

#footer {
  margin: 150px auto 30px auto;
  font: 1.4rem 'Playfair Display', serif;
  opacity: .2;
  text-align: center; }
  #footer svg {
    width: 16px;
    position: relative;
    top: 5px;
    display: inline-block;
    margin: 0 4px; }
    #footer svg path {
      fill: #fff; }

h1, .headline, .excerpt, .dropline {
  opacity: 0;
  transform: translateY(-10px); }

h1 {
  transition-delay: 1s; }

.headline {
  transition-delay: 1.5s; }

.excerpt {
  transition-delay: 2s; }

.dropline {
  transition-delay: 2.5s; }

.loaded h1, .loaded .headline, .loaded .excerpt, .loaded .dropline {
  opacity: 1;
  transform: translateY(0); }

#gall .item img {
  display: block;
  width: 100%;
  height: auto; }

@media screen and (max-width: 480px) {
  .container, #intro .container {
    width: 90%;
    margin: auto; }

  #header {
    top: 0;
    left: 16px; }
    #header .brand {
      background-size: 45px;
      width: 50px; }
    #header h1 small {
      top: -5px;
      font-size: 1.1rem;
      margin-left: 10px;
      opacity: 1; }
    #header .item-works {
      font-size: 1.2rem !important;
      margin-top: 26px !important; }

  #intro {
    margin: 100px 0 0 0;
    width: 100%; }
    #intro .headline {
      font-size: 2.5rem;
      line-height: 3.4rem; }
    #intro footer {
      font-size: 1.8rem;
      width: 100%;
      line-height: 2.8rem; }
    #intro .dropline {
      margin-bottom: 60px; }
      #intro .dropline .txt-mail {
        font-size: 1.4rem; }

  #works header {
    left: 0; }
    #works header .title-main {
      font-size: 6rem;
      line-height: 7rem; }
    #works header small {
      margin-top: 0;
      color: #fff;
      opacity: .75; }
  #works figure {
    overflow: hidden;
    height: 300px;
    width: 110%; }
    #works figure img {
      opacity: .6;
      width: 200%; }
  #works article {
    margin-bottom: 10px; }
    #works article:nth-child(even) figure {
      margin-left: 4%; }
    #works article:nth-child(odd) figure {
      margin-right: 2%; }
  #works .more-works {
    display: none; }

  #hello h3 {
    margin: 30px 0 0 0; }

  #extra-content {
    margin: 80px 0 0 0; }
    #extra-content article {
      float: none;
      width: 100%;
      padding: 0; }
      #extra-content article a {
        padding: 10px 0; }
    #extra-content header h3 {
      margin-bottom: 0; }

  .post p {
    font-size: 2rem;
    line-height: 2.8rem; }

  .single {
    padding-top: 90px; }
    .single.work figure {
      margin: 0; }
    .single.work .title-main {
      font-size: 3rem;
      line-height: 4rem; }
    .single.work .entry-content {
      margin: 0; }
    .single.work .post p {
      font-size: 1.8rem;
      line-height: 2.6rem; }
    .single.work iframe {
      display: none; } }

/*# sourceMappingURL=application.css.map */
