@import "normalize.css";
@import "https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Oswald:700";
@import "nprogress.css";
@import "slick";
@import "slick-theme";


$brand-colour: #000;
$yellow-colour: #f9ec18;
$links-colour: #19c4aa;
$spc: 30px;

@mixin hide-text() {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

html { font-size: 62.5%; }
body {
  background-color: $brand-colour;
  color: #fff;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

div:after, ol:after, li:after, form:after, ul:after,
dl:after, header:after, footer:after, section:after,
article:after { content:"."; display:block; clear:both; height:0; overflow:hidden;}

.transition { transition: all 200ms ease-in-out; }
.transition-slowly { transition: all 600ms ease-in-out; }

.gall .slick-slide { margin-right: 20px; outline: none !important; }
.gall { cursor:url(../img/grab.png) 8 8, move; }
.gall img { border-radius:5px; }
.grabbing { cursor:url(../img/grabbing.png) 8 8, move; }
.slick-active:focus { outline: none !important; }

hr { clear: both; border: 0; }

a {
  @extend .transition;
  border-bottom: 1px dotted #4D4D4D;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  &:hover { border-bottom-style: none; color: #ccc; }
}

.container {
  margin: auto;
  position: relative;
  width: 978px;
}

section, #header {
  @extend .transition-slowly;
  opacity: 0;
}
.loaded section, .loaded #header { opacity: 1; }

.link-brand, .link-brand:hover, .link-brand:active { border: 0; text-decoration: none; }

.bg-yellow { background-color: #fcb937; border-radius:4px; }
.bg-green { background-color: #076469; border-radius:4px; }
.bg-white { background-color: #fff; border-radius:4px; }
.bg-greenblue { background-color: #26b4a9; border-radius:4px; }

h1 small {
  font:italic 1.3rem 'Playfair Display', serif;
  font-weight: normal;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 20px;
  opacity: .45;
  position: relative;
  top: -2px;
  letter-spacing: 1px;
  a {
    color: $links-colour;
    border-bottom: 1px solid $links-colour;
    &:hover { opacity: .7; border-bottom: 1px solid $links-colour; color: $links-colour; }
  }
}

#header {
  position: fixed;
  top: 50px; left: 80px; right: 0; z-index: 9;
  width: 90%;
}

.brand {
  span { @include hide-text(); }
  display: inline-block;
  background: url('../img/logo-cf.png') no-repeat center center;
  width: 67px; height: 67px;
  background-size: 67px;
  img { width: 100%; }
}

#intro {
  margin: 200px 0 0 80px;
  font-family: 'Playfair Display', serif;
  .container {
    font-size: 5.8rem;
    line-height: 7.2rem;
    margin: 0;
    width: 880px;
  }
  footer {
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: 610px;
    a {
      color: #fff;
    }
  }
  .link-readbio {
    border-bottom: 1px solid $links-colour;
    color: $links-colour;
    font-size: 1.4rem;
    margin-left: 6px;
    position: relative;
    text-transform: lowercase;
    top: -5px;
    &:hover { opacity: .7; }
  }
}
.social-list {
  margin: 15px 0 0 0;
  padding: 0;
  li {
    @include hide-text;
    margin-right: $spc/1.5;
    float: left;
    &:last-child { margin-right: 0; }
    a {
      background-repeat: no-repeat;
      background-position: bottom center;
      border: 0;
      display: block;
      height: 40px;
      width: 50px;
      &:hover { opacity: 0.7;}
    }
    &.menu-linkedin a { background-image: url(../img/logo-linkedin.svg); }
    &.menu-behance a { background-image: url(../img/logo-behance.svg); }
    &.menu-dribbble a { background-image: url(../img/logo-dribbble.svg); }
    &.menu-github a { background-image: url(../img/logo-github.svg); }
    &.menu-medium a { background-image: url(../img/logo-medium.svg); }
  }
}
.dropline {
  margin: 0 0 80px 0;
  .txt-mail {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #4D4D4D;
    margin-right: $spc;
    .hide-email { display: block; }
    a { color: #A5A5A5; }
  }
}



#works {
  // margin-top: $spc*2;
  article {
    margin-bottom: $spc*6; position: relative;
    &:hover figure img { transform:scale(1.007); opacity: .9; }
  }
  header {
    width: 100%; position: absolute; left: -50px; right: 0; top: 25%; z-index: 2;
    .title-main {
      font:bold 8rem Oswald, sans-serif;
      letter-spacing: 10px;
      color: #fff;
      margin: 0;
      text-transform: uppercase;
    }
    small {
      color: #808080;
      text-transform: uppercase;
      font: italic 1.2rem Lato, sans-serif;
      margin-top: -15px;
      display: block;
    }
  }
  figure {
    background-color: #000;
    margin: 0;
    float: right; width: 760px; height: 400px; position: relative; z-index: 1;
    img {
      @extend .transition-slowly;
      opacity: .77;
      width: 100%;
    }
  }
  article:nth-child(even) {
    header { right: -50px; left: 0; }
    figure { float: left; }
    .title-main, small { text-align: right; }
  }
}

#hello {
  padding-top: $spc;
  h3 {
    color: $yellow-colour; font:italic 6rem 'Playfair Display', serif;
    margin-bottom: $spc;
    text-align: center;
  }
}
.post {
  p, li {
    font:2.2rem/3.2rem 'Playfair Display', serif;
    color: #fff;
    a {
      font-style: normal; border-bottom:1px solid $links-colour; color: $links-colour;
      &:hover { opacity: .7; }
    }
  }
}

.home .item-works { visibility: hidden; display: none; @include hide-text; }


.single {
  padding-top: 200px;
  .section {
    padding: 7% 0;
    &.odd { background: rgba(255, 255, 255, 0.1); }
   }

  article {

    article { background: transparent; margin-top: 0; }
     position: relative;
    &:first-child { margin-top: 0; padding-top: 0; }
    &::after {
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: 2%;
      left: 64%;
      width: 15px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.35);
      margin-left: -15%; }
    &.no-sep::after { display: none; }
  }
  &.work {
    #header .item-works {
      color: #fff;
      font-size: 1.4rem;
      display: inline-block;
      float: right;
      margin-top: 40px;
      padding-left: 30px;
      background: rgba(0, 0, 0, 0) url("../img/icn-arrow-left.svg") no-repeat scroll left -7px/25px auto;
      border:0;
      &:hover .icn-arrow-left {
        @extend .transition;
        transform: translateX(-3px);
      }
    }
    #header h1 { float: left; }

    .cover-work img { width: 100%; }
    h2, h3 { font:italic 3.2rem/3.4rem 'Playfair Display', serif; font-weight: bold; display: inline-block; position: relative; }
    h2::after, h3::after {
      background-color: #19c4aa;
      position: absolute;
      content: " ";
      display: block;
      height: 50%;
      width: 70%;
      left: -7%;
      bottom: -5px;
      z-index: -1; }
    .title-main { font:italic 5.2rem/5.4rem 'Playfair Display', serif; font-weight: bold; margin-bottom: -10%; }
    .entry-content { margin: $spc*2 0; }
    .gallery {
      img { width: 100%; }
      iframe { margin:30px auto auto 25%; }
      a {  }
    }
    h3 { font:italic 3.2rem/4.4rem 'Playfair Display', serif; }
  }
}


.grid-center, .grid-left, .grid-right {
  ul { padding: 0; }
  p, li { font-size: 1.5rem; list-style: none;
    line-height: 2.3rem; }
  li { margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.55);}
  .high {
    position: relative;
    display: block;
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
    &::after {
      background-color: #19c4aa;
      position: absolute;
      content: " ";
      display: block;
      height: 50%;
      width: 7%;
      left: -2%;
      bottom: 0px;
      z-index: -1;}
  }
}

.grid-center {text-align: center; width: 70%; margin: auto;}
.grid-left {
  text-align: left; float: left; width: 30%; margin-left: 5%;
}
.grid-right {
  text-align: left; float: right; width: 55%; margin-right: 0;
}


.more-works {
  margin-bottom: $spc !important;
  text-align: center;
  font:italic 1.2rem 'Playfair Display', serif;
}

.icn-sketch { width: 18px !important; height: 22px; }
.icn-arrow-left { position: relative; top: 10px; }


#extra-content {
  margin: 100px 0 0 0;
  font: 1.4rem 'Playfair Display', serif;
  line-height: 2rem;
  article {
    @extend .transition;
    float: left; width: 20.333%; padding: 0 2%;

    &.mouse_over { opacity: 1; }
    &.out { opacity: .45; }

    header {
      font-size: 2rem; font-style: italic;
      small { font-size: 1.2rem; font-weight: normal; }
    }
    ul { padding: 0; }
    li {
      list-style: none;
      border-bottom: 1px solid rgba(210, 208, 208, 0.15);
      &:last-child { border-bottom: 0; }
      &:hover {
        border-color: #19c4aa;
      }
    }
    a {
      font-style: normal; color: #fff;
      border-bottom: 0;
      text-decoration: none;
      display: block;
      padding: 20px 0;
      s { opacity: .7; }
      &:hover {
        color: #19c4aa;
      }
    }
  }
}

#footer {
  margin: $spc*5 auto $spc auto;
  font:1.4rem 'Playfair Display', serif;
  opacity: .2;
  text-align: center;
  svg {
    width: 16px;
    position: relative; top: 5px;
    display: inline-block;
    margin: 0 4px;
    path { fill: #fff; }
  }
}



// Initial Animation
h1, .headline, .excerpt, .dropline { @extend .transition-slowly; opacity: 0; transform: translateY(-10px); }
h1 { transition-delay: 1s; }
.headline { transition-delay: 1.5s; }
.excerpt { transition-delay: 2s; }
.dropline { transition-delay: 2.5s; }
.loaded {
  h1, .headline, .excerpt, .dropline { opacity: 1; transform: translateY(0); }
}


#gall .item img{
    display: block;
    width: 100%;
    height: auto;
}

@import "mobile";
