@import url(normalize.css);
@import "https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic";
html {
  font-size: 62.5%; }

body {
  background-color: #000;
  color: #fff;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

div:after, ol:after, li:after, form:after, ul:after,
dl:after, header:after, footer:after, section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.transition, a {
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out; }

a {
  border-bottom: 1px dotted #4D4D4D;
  font-style: italic;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px dotted; }

#content {
  margin: 150px 0 80px 80px; }
  #content .container {
    font-size: 5.8rem;
    line-height: 7.2rem;
    width: 880px; }
  #content footer {
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: 610px; }
    #content footer a {
      color: #fff; }

.social-list {
  margin: 0;
  padding: 0; }
  .social-list li {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    margin-right: 20px;
    float: left; }
    .social-list li:last-child {
      margin-right: 0; }
    .social-list li a {
      background-repeat: no-repeat;
      background-position: bottom center;
      border: 0;
      display: block;
      height: 40px;
      width: 50px; }
      .social-list li a:hover {
        opacity: 0.7; }
    .social-list li.menu-linkedin a {
      background-image: url(../img/logo-linkedin.svg); }
    .social-list li.menu-behance a {
      background-image: url(../img/logo-behance.svg); }
    .social-list li.menu-dribbble a {
      background-image: url(../img/logo-dribbble.svg); }
    .social-list li.menu-github a {
      background-image: url(../img/logo-github.svg); }
    .social-list li.menu-medium a {
      background-image: url(../img/logo-medium.svg); }

#footer {
  margin: 0 0 80px 80px; }
  #footer .txt-mail {
    float: left;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #4D4D4D;
    margin-right: 30px; }
    #footer .txt-mail .hide-email {
      display: block; }
    #footer .txt-mail a {
      color: #A5A5A5; }
  #footer .social-list {
    float: left; }
