$mobile: 480px;


@media screen and (max-width: $mobile) {
  #content .container, #footer {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  #content {
    margin: 50px 30px 10px 30px;
    .container { width: 100%; }
    footer {
      font-size: 1.7rem;
      line-height: 2.2rem;
      width: 80%;
    }
  }
  #footer {
    margin: 0 30px 50px 30px;
    .txt-email {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #6D6D6D;
      margin-right: 0;
    }
    .social-list {
      margin-top: 10px;
      li { margin-right: 10px; }
      .menu-dribbble { margin-top: 1px; }
      .menu-behance a { background-size: 100%; }
      .menu-github a { background-size: 95%; }
      a {
        background-size: 75%;
        height: 30px;
        width: 40px;
      }
    }
  }
}
